/* hyper link */
a {
	text-decoration: none;
}

/************************
 HEADER
 ************************/
.tophead {
	float: left;
}
.tophead h1, .tophead h2 {
	color: green;
}
#toplogo {
	float: left;
}
.topbar {
	text-align: center;
}

.topbar ul li{
	border-right: 1px solid #C6EC8C;
	text-decoration: none;
	display: inline-block;
}

/************************
 BODY 
 ************************/
body {
	clear: both;
	background-color: orange;
}
