/* hyper link */
a {
	text-decoration: none;
}

/************************
 HEADER
 ************************/
.tophead {
	white-space: nowrap;
}

#toplogo {
	height: 200px;
	float: left;
}

.tophead h1{
	color: #a45e00;
	position: relative;
	top: 70px;
	left: 30px;
	font-family: 'Rock Salt', cursive;
	font-size: 2.5em;
}

#reg-log {
	width: 200px;
	position: absolute;
	right: 10px;
	top: 10px;
}

#reg-log a {
	display: inline-block;
	padding: 0 20px;
	color: #a45e00;
}

nav {
	clear: both;
	background-color: #a45e00;
	text-align: center;
}

nav li{
	text-decoration: none;
	display: inline-block;
	margin: 0 20px;
}

nav a{
	color: #ffb95b;
	font-family: 'Coming Soon', cursive;
	font-size: 1.2em;
}

/************************
 BODY 
 ************************/
body {
	background-color: orange;
}

footer {
	position: fixed;
	bottom: 0;
}
